
body, h1, h2, p {
    color:#efefef;
    margin: 10px;
    padding: 3px;
}

h1{
    margin: 30px;
    text-align: center;
    color: #a01523;
}
.lead{
    text-align: center;
    color: #931f2b;
}

.jumbotron{
    padding: 50px;
    max-width: 100%;
    background-color: #1c1c1c;
}
.body-dark {
background-color: #121212; /* Dark background color */
color:#ffffff;
font-family: 'Georgia', serif; /* Modern serif font */
margin: 20px; /* Add margins for spacing */
line-height: 1.6; /* Adjust line height for better readability */
}

.form-floating label {
    color: #000; 
}

.form-floating {
    margin:30px 0 30px 0;
}

.intro{
    padding:20px;
    text-align:left;
    max-width: 65%; 
    margin: 20px;

}
.container {
    padding: 10px;
    max-width: 60%; 
    margin: 40px; 
}
  

p {
    margin-bottom: 15px; /* Add bottom margin for paragraphs */
}
  
#customRange3::-webkit-slider-thumb {
    background-color: #a01523; /* Set your desired color */
    border: 1px solid #a01523; /* Set the border color */
  }
  